@font-face {
  font-family: 'Gotham-Ultra';
  src: url('../fonts/gotham-ultra/Gotham-Ultra.eot');
  src: url('../fonts/gotham-ultra/Gotham-Ultra.woff2') format('woff2'),
       url('../fonts/gotham-ultra/Gotham-Ultra.woff') format('woff'),
       url('../fonts/gotham-ultra/Gotham-Ultra.ttf') format('truetype'),
       url('../fonts/gotham-ultra/Gotham-Ultra.svg#Gotham-Ultra') format('svg'),
       url('../fonts/gotham-ultra/Gotham-Ultra.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/gotham-bold/Gotham-Bold.eot');
  src: url('../fonts/gotham-bold/Gotham-Bold.woff2') format('woff2'),
       url('../fonts/gotham-bold/Gotham-Bold.woff') format('woff'),
       url('../fonts/gotham-bold/Gotham-Bold.ttf') format('truetype'),
       url('../fonts/gotham-bold/Gotham-Bold.svg#Gotham-Bold') format('svg'),
       url('../fonts/gotham-bold/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/gotham-black/Gotham-Black.eot');
  src: url('../fonts/gotham-black/Gotham-Black.woff2') format('woff2'),
       url('../fonts/gotham-black/Gotham-Black.woff') format('woff'),
       url('../fonts/gotham-black/Gotham-Black.ttf') format('truetype'),
       url('../fonts/gotham-black/Gotham-Black.svg#Gotham-Black') format('svg'),
       url('../fonts/gotham-black/Gotham-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/gotham-book/Gotham-Book.eot');
  src: url('../fonts/gotham-book/Gotham-Book.woff2') format('woff2'),
       url('../fonts/gotham-book/Gotham-Book.woff') format('woff'),
       url('../fonts/gotham-book/Gotham-Book.ttf') format('truetype'),
       url('../fonts/gotham-book/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('../fonts/gotham-book/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('../fonts/gotham-bookitalic/Gotham-BookItalic.eot');
  src: url('../fonts/gotham-bookitalic/Gotham-BookItalic.woff2') format('woff2'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.woff') format('woff'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.ttf') format('truetype'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/gotham-medium/Gotham-Medium.eot');
  src: url('../fonts/gotham-medium/Gotham-Medium.woff2') format('woff2'),
       url('../fonts/gotham-medium/Gotham-Medium.woff') format('woff'),
       url('../fonts/gotham-medium/Gotham-Medium.ttf') format('truetype'),
       url('../fonts/gotham-medium/Gotham-Medium.svg#Gotham-Medium') format('svg'),
       url('../fonts/gotham-medium/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



body,
.panel-body{
  font-family: 'Gotham-Book';
  font-size: .9em;
}

h1,
h2,
h3,
h4,
.vcfaz{
  font-family: 'Gotham-Ultra';
}
.Amarelo{
  background-color: #ECBD1D;
  justify-content: center;
  align-items: center;
}
.Flex{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 
}
.Vermelho{
  background-color: #D12228;
}
.TextoVermelho{
  color: #D12228;
}
  body{
    background-color: #363639;
    color: #fff;
  }

  .Header{
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQIW2NkwAIYoWL1DAwMjTB5mCCKeuIFAUugAQZS1p09AAAAAElFTkSuQmCC ) repeat;
    border-top: none;}
  .Line{}
  .Small{
    font-size: .5em;
    color: #fbaf3f;
  }
  .panel-heading{
    padding: 10px 30px 2px 10px;
    color: #fff;
  }
  .panel-title{
    border-right: 2px solid white;
    font-family: 'Gotham-Black';
  }
.panel-title,
.panel-body{
  color:#fff;
  padding:20px;
}
.Queremos{
  display: flex;
  font-size: 2.3em;
  font-family: 'Gotham-Ultra';
  word-spacing: 1em;
}
.vcfaz:before{
  content:'vc ';
  margin-right: 5px;
  color: #e63270;
  text-transform: capitalize;
}
.vcfaz:after{
  content:' sbc';
  margin-left: 5px;
  text-transform: uppercase;
}

/*.Red{padding:20px;}*/
.Red:nth-of-type(1n){
  background:#D12228;
  color: #fff;
} 
.Red:nth-of-type(2n){
  background:#fff;
  color: #D12228;
} 
.Red:nth-of-type(3n){
  background:#D12228;
  color: #fff;
} 
.container {
    padding-right: 0;
    padding-left: 0;
}
a:hover,
a:focus,
a:active{
  text-decoration: none;
}
.Peoples{
    height: 43px;
    width: 92px;
    padding: 0 11px;
    background-image: url('../image/logo.png');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
}
.Box{
  float: right;
  margin-top: 10px;
    height: 80px;
    width: 95px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQIW2NkwAIYoWL1DAwMjTB5mCCKeuIFAUugAQZS1p09AAAAAElFTkSuQmCC ) repeat;
    background-color: #fff;
}
.Tarcisio{
  height: 70%;
    background-image: url('../svg/t.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 10px;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: block;
}
.fundo{
  background-image: url('../image/fundo.png');
  background-size: cover;
}
.Barra {
  position: relative;
    top: -34px;
    left: -11px;
    width: 109px;
    height: 3px;
    background: #C92C61;
    background: -moz-linear-gradient(right, #C92C61 0%, #C92C61 33%, #AF224A 34%, #AF224A 66%, #80142A 67%, #80142A 100%);
    background: -webkit-linear-gradient(right, #C92C61 0%,#C92C61 33%,#AF224A 34%,#AF224A 66%,#80142A 67%,#80142A 100%);
    background: linear-gradient(to left, #C92C61 0%,#C92C61 33%,#AF224A 34%,#AF224A 66%,#80142A 67%,#80142A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C92C61', endColorstr='#80142A',GradientType=0 );
}
p {
  margin: 1em 14px;
  font-weight: 100;
}
p.vcfaz{margin: 31px 0;
}
.Strong{
  color:#D12228;
  font-family: 'Gotham-Ultra';
   font-size: 1.1em;
 
}
h4 {
    font-size: 1.2rem;
}
.hidden{
  visibility: hidden;
}
.form-control:not(textarea) {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 1px dotted #fff;
    border-radius: 0;
}
input.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
input.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
input.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
input.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}
button[type=submit]{
  margin-top:10px;
  background: #fbaf3f;
}
  
@media (min-width: 500px){
  
    p.vcfaz{margin: 1em 0;}
    .Queremos{
      display: flex;
      font-size: 3.5em;
      font-family: 'Gotham-Ultra';
      word-spacing: 1em;
    }
    .Peoples{
        height: 100px;
        width: 300px;
        margin: 20px 0px;
        background-image: url('../svg/peoples.svg');
        background-repeat: no-repeat;
        background-position: 0;
    }
    .Box{
      float: right;
      margin-top: 10px;
        height: 120px;
        width: 130px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQIW2NkwAIYoWL1DAwMjTB5mCCKeuIFAUugAQZS1p09AAAAAElFTkSuQmCC ) repeat;
        background-color: #fff;
        padding: 10px;
    
    }
    .Tarcisio{
        height: 100%;
        background-image: url('../svg/t.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin: 0px;
    }
    .Barra {
      position: relative;
        top: -36px;
        left: -14px;
        width: 145px;
        height: 3px;
        background: #C92C61;
        background: -moz-linear-gradient(right, #C92C61 0%, #C92C61 33%, #AF224A 34%, #AF224A 66%, #80142A 67%, #80142A 100%);
        background: -webkit-linear-gradient(right, #C92C61 0%,#C92C61 33%,#AF224A 34%,#AF224A 66%,#80142A 67%,#80142A 100%);
        background: linear-gradient(to left, #C92C61 0%,#C92C61 33%,#AF224A 34%,#AF224A 66%,#80142A 67%,#80142A 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C92C61', endColorstr='#80142A',GradientType=0 );
    }
}
.Texto{
  color:#000;
}
@media (min-width: 54em){

}
