@font-face {
  font-family: 'Gotham-Bold';
  src: url('Gotham-Bold.eot');
  src: url('Gotham-Bold.woff2') format('woff2'),
       url('Gotham-Bold.woff') format('woff'),
       url('Gotham-Bold.ttf') format('truetype'),
       url('Gotham-Bold.svg#Gotham-Bold') format('svg'),
       url('Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

