@font-face {
  font-family: 'ClarendonBT-Bold';
  src: url('ClarendonBT-Bold.woff') format('woff'),
       url('ClarendonBT-Bold.ttf') format('truetype'),
       url('ClarendonBT-Bold.svg#ClarendonBT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'clarenbd';
  src: url('clarenbd.eot');
  src: url('clarenbd.woff2') format('woff2'),
       url('clarenbd.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

